@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;

  @media screen and (max-width: 660px) {
    display: block;
    width: 100%;
  }
}

header {
  background: rgb(45, 42, 232);
  background: linear-gradient(
    0deg,
    rgba(45, 42, 232, 1) 35%,
    rgba(120, 86, 255, 1) 100%
  );
  border-radius: 20px;
  padding: 20px;
  width: 20rem;
  height: 28rem;

  @media screen and (max-width: 660px) {
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

header h1 {
  color: rgba(255, 255, 255, 0.652);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 20px;
}

.total-score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(77, 32, 201);
  background: linear-gradient(
    180deg,
    rgba(69, 29, 179, 0.8214285714285714) 34%,
    rgba(35, 32, 201, 0) 100%
  );
  border-radius: 100px;
  max-width: 58%;
  padding: 20px 15px;
  margin: 0 auto;

  @media screen and (max-width: 660px) {
    width: 30%;
  }

  @media screen and (max-width: 470px) {
    width: 45%;
  }
}

.total-score h2 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin: 5px;
}

.total-score p {
  color: rgba(255, 255, 255, 0.652);
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 20px 0 10px;
}

header p {
  color: rgba(255, 255, 255, 0.652);
  max-width: 80%;
  margin: 20px auto;
}

main {
  box-shadow: 3px 5px 19px -5px #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20rem;
  height: 28rem;

  @media screen and (max-width: 660px) {
    width: 100%;
  }
}

main h4 {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;
  color: rgb(48, 59, 89);
  margin: 25px;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto 10px;
  padding: 0 15px;
  width: 16rem;
}

.reaction-left,
.memory-left,
.verbal-left,
.visual-left {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
}

.reaction-right,
.memory-right,
.verbal-right,
.visual-right {
  margin: 0;
}

.reaction {
  background: rgba(255, 86, 86, 0.05);
  color: rgb(255, 86, 86);
}

.memory {
  background: rgb(255, 176, 30, 0.05);
  color: rgb(255, 176, 30);
}

.verbal {
  background: rgb(0, 188, 144, 0.05);
  color: rgb(0, 188, 144);
}

.visual {
  background: rgb(17, 36, 212, 0.05);
  color: rgb(17, 36, 212);
}

main i {
  padding-right: 10px;
}

.score1 {
  font-weight: 800;
  color: rgb(48, 59, 89);
}

.score2 {
  color: rgba(48, 59, 89, 0.696);
}

button {
  font-family: "Hanken Grotesk";
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background: rgb(48, 59, 89);
  border: none;
  border-radius: 25px;
  width: 75%;
  padding: 10px 0;
  margin: 30px 20px 20px;
  transition: 0.2s ease;
}

button:hover {
  background: rgb(45, 42, 232);
  background: linear-gradient(
    0deg,
    rgba(45, 42, 232, 1) 35%,
    rgba(120, 86, 255, 0.9) 100%
  );
  cursor: pointer;
}
